<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">myh0m0l0gsql</property>
<!-- 		<property name="hibernate.connection.password">020893</property> -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost/db_controle_servico</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<!-- mapeamento das classes com anotation -->
		<mapping class="br.com.cs.model.Servico" />
		<mapping class="br.com.cs.model.Usuario" />
		<mapping class="br.com.cs.model.Funcionario" />
	</session-factory>
</hibernate-configuration>
